[submodule "RML-Processor"]
	path = RML-Processor
	url = ssh://git@git.datasciencelab.ugent.be:4444/rml/RML-Processor.git
	branch = metadata
[submodule "RML-Model"]
	path = RML-Model
	url = ssh://git@git.datasciencelab.ugent.be:4444/rml/RML-Model.git
[submodule "RML-ConditionsHandler"]
	path = RML-Condition
	url = ssh://git@git.datasciencelab.ugent.be:4444/rml/RML-Condition.git
[submodule "RML-DataRetrieval"]
	path = RML-DataRetrieval
	url = ssh://git@git.datasciencelab.ugent.be:4444/rml/RML-DataRetrieval.git
[submodule "RML-MapDocHandler"]
	path = RML-MapDocHandler
	url = ssh://git@git.datasciencelab.ugent.be:4444/rml/RML-MapDocHandler.git
[submodule "RML-LogicalSourceHandler"]
	path = RML-LogicalSourceHandler
	url = ssh://git@git.datasciencelab.ugent.be:4444/rml/RML-LogicalSourceHandler.git
[submodule "RML-MetadataHandler"]
	path = RML-Metadata
	url = ssh://git@git.datasciencelab.ugent.be:4444/rml/RML-Metadata.git
[submodule "DBpedia-Mapper"]
	path = DBpedia-Mapper
	url = https://git.datasciencelab.ugent.be/fno/DBpedia-Mapper.git
